:root{
    font-size: 16px;
}
@font-face {
    font-family: "bitcount";
    src: url("../assets/fonts/bitcountLight.ttf");
}
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "bitcount";
}
body{
    height: 100vh;
    width: 100vw;
    background-color: dimgrey;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container .content{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .nav{
    background-color: #2a2929;
    color: white;
    box-shadow: 0 0 10px white;
    padding-block: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
}
.logo>img{
    height: 60px;
    background-color: rgba(255, 255, 255, 0.142);
}
.base1,.base2{
    height: 40px;
    width: 70px;
    transition: .5s;
}
.base1 select,.base2 select{
    height: 100%;
    width: 100%;
    color:white;
    background-color: black;
    border: none;
    outline: 1px solid greenyellow;
    text-align: center;
    border-radius: 3px;
}
.logoChange{
    display: inline-block;
    width: fit-content;
    padding: 10px;
    background-color: rgba(39, 225, 15, 0.808);
    border-radius: 5px;
    border: 2px solid white;
}
.logoChange>img{
    height: 1.5rem;
}
.part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
input{
    font-size: 2rem;
    font-weight: bolder;
    width: 100%;
    outline: none;
    text-align: center;
    color: rgba(23, 170, 3, 0.808);
    padding-block: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px black;
}
.result{
    font-weight: bolder;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.386);
    text-align: center;
    align-content: center;
    font-size: 3rem;
    color: white;
    font-size: 1rem;
    box-shadow : 0 0 10px black,0 0 5px black;
    border-radius: 5px;
}
.part2{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.base1:hover select,.base2:hover select{
    transform: scale(1.1);
    outline: 2px solid greenyellow;
}
.bounce{
    transition: .5s;
    transform: scale(1.2);
}
.rotate{
    animation: rotate .5s linear infinite;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}